@import "../mixins";

.list {
    $block: &;

    &__item {
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #151515;

        &::before {
            content: "";
            display: inline-block;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            background-image: url("../../src/img/VectorDark.svg");
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
    }

    &--light {
        & #{$block}__item {
            color: #fff;

            &::before {
                background-image: url("../../src/img/VectorLight.svg");
            }
        }

    }

    @at-root .card-choose & {
        &::after {
            content: "";
            display: block;
            border: 1px dashed #a9a9aa;
            margin-top: 18px;
        }
    }
}
